@charset "UTF-8";
/* base.css */



a {
  color : #333;
}



a:visited {
  color : #aaa;
}



#wrap {
  background-color : #8eafce;
  width : 1000px;
  height : auto;
  margin : auto;
}



.h1{
  padding : 10px;
  width : 100px;
  height : auto;
  margin : auto;
  margin-bottom : 50px;
}


#header {
  float : left;
  width : 15%;
  height : auto;
  background-color : #eee;
  padding : 20px;
  margin-right : 20px;
}


#content {
  float : left;
  width : 75%;
  height : auto;
  background-color : #eee;
  padding : 20px;
  margin-bottom : 100px;
}