@charset "UTF-8";
/* psuedo.css */




#psuedo {
  margin : 0;
  padding : 0;
  list-style : none;
}





#psuedo {
  width : auto;
  height : auto;
  margin : auto;
  padding : 10px;
  background-color: #abc;
}


#psuedo > li {
  width : 100%;
  height : auto;
  min-height : 25px;
  margin-bottom : 20px;
  background-color : #fff;
}


.m_1 {
  font-weight : 900;
  color : #777;
}


.m_2:hover {
 color : #f07;
}


.m_3:active {
  font-size : 20px;
  color : #0cf;
}


.m_4:before,
.m_4::before {
  content : "이것은 CSS를 통해 추가된 내용입니다";
  font-size : 0.7rem;
  color : #abc;
}

.m_4:hover:before,
.m_4:hover::before {
  font-weight : 900;
  font-size : 0.9rem;
}


.m_5:after,
.m_5::after {
  content : "이것은 CSS를 통해 추가된 내용입니다";
  font-size : 0.7rem;
  color: #abc;
}


.m_5:active:after,
.m_5:active::after {
  color : #7ac;
  font-weight : 900;
  font-size : 0.9rem;
}


.m_6 > a:visited {
  color : #777;
}


.m_7 > input:checked + span {
  color : #7ac;
  font-weight : 900;
}


.m_8 {
  height : auto;
}

.m_8::first-letter {
  font-size : 1.5rem;
  font-weight: 900;
  color : #7ac;
}

.m_9::first-line {
  color : #7ac
}

