/* css/src/projectBox/projectBox_320.css */



@media screen and (min-width : 320px) and (max-width : 767px) {
  #projectBox > h2 {
    color : #fff;
      color : var(--color-white);
  }
  
  .project_info_area {
    width : 100%;  height : auto;
    margin-top : 0; margin-left : 0;
  }
  
  .project_info_title {
    margin-bottom : 78.125vw;
  }
  
  .project_info_area > .project_info_title > p {
    margin-bottom : 16px;
      margin-bottom : 1rem;
    font-weight: 300;
    font-size : 16px; 
      font-size : 1rem;
  }
  
  .project_info_area > .project_info_title > h3 {
    font-weight: 700;
    font-size : 24px;
      font-size : 1.5rem;
  }
  
  .project_info_area > p {
    padding-bottom : 16px;
      padding-bottom : 1rem;
    border-bottom : 1px solid #fff;
      border-bottom : 0.0625rem solid var(--color-white);
    margin-bottom : 16px;
      margin-bottom : 1rem;
    line-height: 1.5;
  }
  
  .project_info_area > .device {
    width : 100%; height: auto;
    margin-bottom : 50px;
      margin-bottom : 3.125rem;
  }
  
  .project_info_area > .device dt {
    float: left;
    margin-right: 8px;
      margin-right : 0.5rem;
    line-height: 1.5;
    font-size : 14px;
      font-size : 0.875rem;
  }
  
  .project_info_area > .device dd {
    line-height: 1.5;
    font-size : 14px;
      font-size : 0.875rem;
  }
  
  .projecrt_link > .go_to_original {
    border : 1px solid #fff;
      border : 0.0625rem solid var(--color-white);
  }
  
  .projecrt_link > .go_to_renewal {
    border : 1px solid #fff;
      border : 0.0625rem solid var(--color-white);
  }
  
  .projecrt_link .link_arrow {
    background-image: url("../../../img/icon/east_w.svg");
  }
  
  .projecrt_link > .go_to_git {
    background-image: url("../../../img/icon/GitHub_w.png");
  }
  
  .yanolja_mokup {
    position: absolute;
    top : 180px; left : 0; right : 0;
    display: block;
    width : 100%; height : 78.125vw;
    margin : auto;
    background-image: url("../../../img/mokup.png");
    background-position: 50% 50%;
    background-size : contain;
    background-repeat: no-repeat;
  }
}
