/* index.css */



:root {
  --color-w : #fff;
  --color-k : #333;
  --color-001 : #91A8BF;
  --color-002 : #6284A0;
  --color-003 : #7084A5;
  --color-004 : #4b6981;
  --color-005 : #1D2B4B;

}



#wrap {
  width : 1920px;
  height : auto;
  min-height : 1080px;
  margin : auto;
}


#headBox {
  position: fixed;
  top : 0;
  left : 50px;
  width : 300px;
  height : auto;
  min-height : 1080px;
  background-color : var(--color-004);
  /* background-image: linear-gradient(var(--color-001) 10%, var(--color-003) 50%); */
  box-shadow: 5px 0 #aaa;
  text-align: center;
}



#headLogo {
  width : 150px;
  height : 150px;
  margin : auto;
  margin-top : 50px;
  margin-bottom : 50px;
  background-image : url("../../img/oioioq.png");
  background-size : contain;
  background-repeat: no-repeat;
}


#headBox dt {
  font-size : 2rem;
  font-weight : 700;
  color : var(--color-w);
}

#headBox dd {
  font-weight : 200;
  padding-top : 12px;
  text-transform: capitalize;
  color : var(--color-w);
}




#navBox {
  width : 100%;
  height : auto;
  min-height : 500px;
  padding-top : 100px;
}


.menu li {
  width : 100%;
  height : 70px;
  box-sizing: border-box;
  border-bottom : 1px solid var(--color-w); 
}


.menu li:first-child {
  border-top : 1px solid var(--color-w);
}

.menu a {
  display: block;
  margin : auto;
  width : 100%;
  height : 100%;
  padding-top : 25px;
  box-sizing: border-box;
  font-size : 1.15rem;
  font-weight: 600;
  text-transform: capitalize;
  color : var(--color-w);
}


.menu a:hover {
  background-color : var(--color-001);
  color : var(--color-k);
  font-size : 1.3rem;
}


.sns {
  width : 250px;
  height : auto;
  margin : auto;
  margin-top : 70px;
}


.sns > li {
  float : left;
  width : 50px;
  height : 50px;
  box-sizing: border-box;
  padding : 5px;
  margin : 5px;
  font-size : 2rem;
  color : var(--color-w);
}