/* css/nav/navBox.css */

/* basic */
#navBox > ul {
  width : 100%; height: 100%;
  display: flex;
  justify-content: space-around;
}

#navBox li {
  width : 20%; height : 100%;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  font-size : 24px;
    font-size : 1.5rem;
  color : #575757;
    color: var(--color-deep-gray);
}

#navBox li > a {
  display: block;
  width : 100%; height: 100%;
  box-sizing: border-box;
  transition: all 300ms linear;
}

#navBox li > a:hover,
#navBox li > a:focus {
  border-bottom : 5px solid #30588c;
    border-bottom: var(--border-bottom);
  transform: scale(1.05, 1.05);
}

#navBox li > a:focus {
  outline: 0;
}  




@media screen and (min-width : 320px) and (max-width : 767px) {
  #navBox > ul {
    width : 100%; height: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  #navBox li {
    width : 20%; height : 100%;
    padding-top : 10px;
    box-sizing: border-box;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    font-size : 12px;
      font-size : 0.75rem;
    color : #575757;
      color: var(--color-deep-gray);
  }
  
  #navBox li > a {
    display: block;
    width : 100%; height: 100%;
    box-sizing: border-box;
    transition: all 300ms linear;
  }
  
  #navBox li > a:hover,
  #navBox li > a:focus {
    border-bottom : 5px solid #30588c;
      border-bottom: var(--border-bottom);
    transform: scale(1.05, 1.05);
  }
  
  #navBox li > a:focus {
    outline: 0;
  }  
}



@media screen and (min-width : 768px) and (max-width : 1279px) {
  #navBox > ul {
    width : 100%; height: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  #navBox li {
    width : 20%; height : 100%;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    font-size : 20px;
      font-size : 1.25rem;
    color : #575757;
      color: var(--color-deep-gray);
  }
  
  #navBox li > a {
    display: block;
    width : 100%; height: 100%;
    box-sizing: border-box;
    transition: all 300ms linear;
  }
  
  #navBox li > a:hover,
  #navBox li > a:focus {
    border-bottom : 5px solid #30588c;
      border-bottom: var(--border-bottom);
    transform: scale(1.05, 1.05);
  }
  
  #navBox li > a:focus {
    outline: 0;
  }  
}



@media screen and (min-width : 1280px) and (max-width : 1599px) {
  #navBox > ul {
    width : 100%; height: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  #navBox li {
    width : 20%; height : 100%;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    font-size : 24px;
      font-size : 1.5rem;
    color : #575757;
      color: var(--color-deep-gray);
  }
  
  #navBox li > a {
    display: block;
    width : 100%; height: 100%;
    box-sizing: border-box;
    transition: all 300ms linear;
  }
  
  #navBox li > a:hover,
  #navBox li > a:focus {
    border-bottom : 5px solid #30588c;
      border-bottom: var(--border-bottom);
    transform: scale(1.05, 1.05);
  }
  
  #navBox li > a:focus {
    outline: 0;
  }  
}



@media screen and (min-width : 1600px) and (max-width : 1919px) {
  #navBox > ul {
    width : 100%; height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top : 0.5rem; box-sizing: border-box;
  }
  
  #navBox li {
    width : 20%; height : 100%;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    font-size : 24px;
      font-size : 1.5rem;
    color : #575757;
      color: var(--color-deep-gray);
  }
  
  #navBox li > a {
    display: block;
    width : 100%; height: 100%;
    box-sizing: border-box;
    transition: all 300ms linear;
  }
  
  #navBox li > a:hover,
  #navBox li > a:focus {
    border-bottom : 5px solid #30588c;
      border-bottom: var(--border-bottom);
    transform: scale(1.05, 1.05);
  }
  
  #navBox li > a:focus {
    outline: 0;
  }  
}



@media screen and (min-width : 1920px) {
  #navBox > ul {
    width : 100%; height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top : 0.5rem; box-sizing: border-box;
  }
  
  #navBox li {
    width : 20%; height : 100%;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    font-size : 24px;
      font-size : 1.5rem;
    color : #575757;
      color: var(--color-deep-gray);
  }
  
  #navBox li > a {
    display: block;
    width : 100%; height: 100%;
    box-sizing: border-box;
    transition: all 300ms linear;
  }
  
  #navBox li > a:hover,
  #navBox li > a:focus {
    border-bottom : 5px solid #30588c;
      border-bottom: var(--border-bottom);
    transform: scale(1.05, 1.05);
  }
  
  #navBox li > a:focus {
    outline: 0;
  }  
}
