/* css/src/viewBox.css */


.video_area {
  width : 100%; height : 100%;
}

.video_area > video {
  width : 120%; height: 120%;
  margin-left : -10%;
}

#viewBox > p {
  position : absolute;
  right : 350px; bottom : 200px;
  font-size : 32px;
    font-size : 2rem;
  line-height: 1.25;
  text-align: right;
  font-weight: 700;
  color : #fff;
  text-shadow: 3px 3px 3px rgba(79,79,79,0.25);
    text-shadow: var(--shadow);
}