// footer
.footer {
  display: flex;
  flex-direction: column;
  background-color: $c-white-3;

  // siteLink
  .siteLink {
    width: 100%;
    height: auto;
    border-top: 1px solid $c-white-8;
    border-bottom: 1px solid $c-white-8;
    box-sizing: border-box;
    background-color: $c-white-1;

    &__inner {
      display: flex;
      justify-content: left;
      align-items: center;
    }

    &__items {
      width: 240px;
      height: 54px;
      border-right: 1px solid $c-white-8;
      box-sizing: border-box;
      
      &:first-child {
        border-left: 1px solid $c-white-8;
      }

      dl {
        position: relative;
        z-index: $z-over;
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      width: 100%;
      height: 100%;

      button {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 24px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        span {
          font-size: 16px;
          color: $fc-black-1;
        }

        i {
          width: 24px;
          height: 24px;

          &.ico-plus {
            display: block;
          }

          &.ico-minus {
            display: none;
          }
        }
      }

      &.active{
        button {
          span {
            font-weight: 600;
            text-decoration: underline;
          }

          i {
            &.ico-plus {
              display: none;
            }
  
            &.ico-minus {
              display: block;
            }
          }
        }

        &+.siteLink__list {
          height: 216px;
          padding: 4px 0;
          opacity: 1;
        }
      }
    }
    
    &__list {
      position: absolute;
      left: -1px;
      width: 240px;
      bottom: 100%;
      height: 0;
      border: 1px solid $c-white-8;
      border-radius: 8px 8px 0 0;
      box-sizing: border-box;
      background-color: $c-white-1;
      opacity: 0;
      transition: all 300ms ease;

      ul {
        display: flex;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        flex-direction: column;

        li {
          width: 100%;
          height: auto;

          a {
            display: block;
            width: 100%;
            height: auto;
            padding: 4px 0 4px 24px;
            box-sizing: border-box;
            font-size: 16px;
            line-height: 28px;
            color: $fc-black-2;
            word-break: keep-all;

            &:hover,
            &:focus {
              font-weight: 600;
              text-decoration: underline;
              background-color: $c-white-3;
            }
          }
        }
      }
    }
  }

  // footer__main
  &__main {
    display: flex;
    width: 100%;
    height: auto;
    padding: 40px 0;
    box-sizing: border-box;
    flex-direction: column;
    gap: 24px;

    // footer__logo
    .footer__logo {
      width: 102px;
      height: 36px;
      @include ico-work24;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    // footer__info
    .footer__info {
      width: 100%;
      height: auto;
      font-size: 16px;
      line-height: 28px;

      .flex__inner__items {
        &:first-child {
          width: calc(100% - 120px);
        }

        &:last-child {
          width: 120px;
        }
      }
      
      strong {
        font-weight: 600;
        color: $fc-black-1;
      }
      
      &__list {
        display: flex;
        width: 100%;
        color: $fc-black-1;
        flex-direction: column;
        gap: 4px;

        dl {
          display: flex;
          width: 100%;
          flex-wrap: nowrap;
          align-items: center;
          gap: 4px;

          dt {
            font-weight: 600;
          }
        }
        
        & + p {
          margin-top: 24px;
          color: $fc-black-3;
        }
      }

      &__quick {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;

        a {
          display: flex;
          width: fit-content;
          align-items: center;
          gap: 4px;

          span {
            font-size: 16px;
            line-height: 1;
            font-weight: 600;
            color: $fc-black-1;
          }

          i {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    // footer__link
    .footer__link {
      width: 100%;
      padding-top: 12px;
      border-top: 1px solid $c-white-8;
      box-sizing: border-box;

      ul {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 24px;

        li {
          a {
            display: block;
            padding: 16px 0;
            font-size: 16px;
            color: $fc-black-2;

            strong {
              font-weight: 600;
              color: $fc-primary;
            }
          }
        }
      }
    }

    // footer__copy
    .footer__copy {
      font-size: 14px;
      color: $fc-black-3;
    }

    // footer__banner
    .footer__banner {
      display: flex;
      width: 100%;
      height: 40px;
      padding: 0 16px;
      box-sizing: border-box;
      margin-top: 16px;
      background-color: $c-white-1;
      align-items: center;
      gap: 12px;

      a {
        width: fit-content;
        height: 24px;
      }

      span {
        font-size: 14px;
        line-height: 1.5;
        color: $fc-black-1;
      }
    }
  }
}