// color
$c-primary : #3F58D4;
$c-secondary : #3043A1;

$c-white-1 : #fff;
$c-white-2 : #F2F4FC;
$c-white-3 : #f5f5f5;
$c-white-4 : #F5F6F8;
$c-white-5 : #EDF1F5; 
$c-white-6 : #eee;
$c-white-7 : #ccc;
$c-white-8 : #ddd;

$c-black-1 : #111;
$c-black-2 : #757575;
$c-black-3 : #999;

$c-green-1 : #24A960;
$c-blue-1 : #8ca8fe;

$c-hover-1 : #BAE9FF;
$c-hover-2 : #C2E5FF;

$c-guide-1 : #EBE5FF;
$c-guide-2 : #C8FFFB;
$c-guide-3 : #BDF0FF;

$c-quick-1 : #408CFF;
$c-quick-1-hover : $c-primary;
$c-quick-2 : #7E89FD;
$c-quick-2-hover : #5E66BD;
$c-quick-3 : #9A4AFA;
$c-quick-3-hover : #6B33AD;
$c-quick-4 : #C06DFF;
$c-quick-4-hover : #864CB2;

// font-color
$fc-primary: #3F58D4;
$fc-secondary: #3043A1;

$fc-white-1: #fff;

$fc-black-1: #111;
$fc-black-2: #333;
$fc-black-3: #555;
$fc-black-4: #757575;

// z-index
$z-under: -1;
$z-base: 0;
$z-over: 1;

$z-quickTools: 100;
$z-header: 200;