  .project_layout {
    position: relative;
    width: 100%;
    height: auto;
    padding: 4rem;
    padding-bottom: 0;
    box-sizing: border-box;

    .project_layout_inner {
      display: flex;
      padding-bottom: 4rem;
      border-bottom: 0.1rem solid $border-light;
      box-sizing: border-box;
      gap: 4rem;
      align-items: center;

      &:not(a) {
        &::before,
        &::after {
          display: none;
        }
      }
    
      &::before {
        content: "VIEW";
        position: absolute;
        top: 50%;
        right: 4rem;
        font-size: 1.8rem;
        font-weight: 200;
        color: $text--mid;
        transform: translateY(-50%);
        transition: all 200ms ease;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 1rem;
        transform: translate(-50%, -50%);
        opacity: 0;
      }

      &:hover::after {
        opacity: 0.1;
        animation: link 1.7s linear infinite;
      }

      img {
        width: 32rem;
        height: 32rem;
        object-fit: contain;
      }

      .text_box {
        display: flex;
        gap: 6rem;
        flex-wrap: wrap;
        flex-direction: column;

        p {
          font-family: 'EB Garamond Variable';
          font-size: 3.6rem;
          font-weight: 800;
          text-transform:uppercase;
        }

        dl {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;

          dt {
            width: 12rem;
            font-size: 1.8rem;
            font-weight: 600;
          }

          dd {
            width: calc(100% - 14rem);
            font-size: 1.8rem;
            font-weight: 200;
          }
        }
      }
    }
  }

  .project_detail {
    display: flex;
    width: 100%;
    height: auto;
    padding: 8rem 4rem;
    padding-bottom: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 4rem;

    &.noGap {
      gap: 0 !important;
    }

    &_flexWrap {
      display: flex;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      gap: 4rem;

      & > .project_detail_items {
        width: calc(50% - 2rem);
      }
    }

    &_img {
      width: 100%;
      border: 0.1rem solid $border-light;
      box-sizing: border-box;
      object-fit: contain;

      &.onlyPC {
        display: block;
      }

      &.onlyMobile {
        display: none;
      }
    }

    &_items {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 1.2rem;

      .project_detail {
        &_title {
          display: flex;
          font-family: 'EB Garamond Variable';
          font-size: 2.4rem;
          font-weight: 800;
          align-items: center;
          gap: 0.8rem;

          i {
            font-size: 1.8rem;
            font-style: normal;
          }
        }

        &_list {
          display: flex;
          padding-left: 1.2rem;
          box-sizing: border-box;
          flex-direction: column;
          gap: 1.2rem;

          dt {
            margin-top: 0.8rem;
            font-size: 1.8rem;
            font-weight: 600;
          }

          dd {
            padding-left: 2.2rem;
            line-height: 150%;
            
            p {
              font-size: 1.6rem;
              font-weight: 400;
            }
            
            span {
              position: relative;
              display: block;
              margin-top: 0.2rem;
              padding-left: 1.2rem;
              box-sizing: border-box;
              font-size: 1.4rem;
              font-weight: 200;

              &::before {
                content: "·";
                position: absolute;
                top: 0;
                left: 4px;
                display: inline-block;
              }
            }
          }
        }
      }

      span {
        font-size: 1.6rem;
        font-weight: 200;
        line-height: 150%;
      }
    }

    &_notice {
      display: flex;
      width: 100%;
      height: auto;
      padding: 2rem 2rem;
      border : 1px solid $border-light;
      border-radius: 1.2rem;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      background-color: $bg--white;

      p {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 150%;
        text-align: center;
        color: $text--mid;
      }
    }

    .flex_text {
      display: flex;
      padding: 0 1rem;
      box-sizing: border-box;
      gap: 8rem;

      p {
        width: calc(50% - 4rem);
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 150%;
      }
    }
  }

// 640.1 ~ 1024
@media screen and ( min-width : 640.1px ) and ( max-width : 1024px ){
  .project_layout {
    padding: 3rem 3rem 0 3rem;

    .project_layout_inner {
      &::after,
      &::before {
        display: none;
      }

      img {
        width: 20rem;
        height: 20rem;
      }

      .text_box {
        gap: 3rem;

        p {
          font-size: 2.8rem;
        }

        dl {
          gap: 1.5rem;
        }
      }
    }
  }

  .project_detail {
    padding: 6rem 3rem;
    padding-bottom: 0;

    &_flexWrap {
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }
  }
}

// ~ 640
@media screen and ( max-width : 640px ) {
  .project_layout {
    padding: 4rem 2rem 0 2rem;

    .project_layout_inner {
      flex-direction: column;
      justify-content: center;

      &::after,
      &::before {
        display: none;
      }

      img {
        width: 70vw;
        max-width: 32rem;
        height: 70vw;
        max-height: 32rem;
      }

      &:not(:has(img)) {
        align-items: flex-start;
      }

      .text_box {
        width: 100%;
        gap: 3rem;

        p {
          font-size: 2.8rem;
        }

        dl {
          gap: unset;
          flex-direction: column;

          dt {
            width: 100%;
            margin-bottom: 0.5rem;
            font-size: 1.6rem;
          }

          dd {
            width: 100%;
            margin-bottom: 2rem;
            font-size: 1.6rem;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .project_detail {
    padding: 4rem 2rem;
    padding-bottom: 0;

    &_img {
      &.onlyPC {
        display: none;
      }

      &.onlyMobile {
        display: block;
      }
    }

    &_flexWrap {
      flex-direction: column;
      gap: 2rem;

      & > .project_detail_items {
        width: 100%;
      }
    }
  }
}