// primary color
$primary--blue :  #8eafce;
$primary--purple :  #8E91CE;


// background
$bg--white : #F5F7FA;


// border
$border-light : #ededef;


// project color
$project--yellow :#f1cd3ebd;
$project--yellow--deep : #f1cd3e;
$project--navy : #385CA9;
$project--blue : #97d4ff;
$project--spp : #0066FF;
$project--psc : #3F4A7D;


// text color
$text--light : #aaa;
$text--mid : #767676;
$text--deep : #555;
$text--black : #333;