/* css/src/aboutmeBox/aboutmeBox_320.css */



@media screen and (min-width : 320px) and (max-width : 767px) {
  #aboutMeBox > h2 {
    margin-bottom : 10px;
      margin-bottom : 0.625rem;
  }
  .basic_info_area {
    width : 100%; height : auto;
    margin-bottom : 100px;
  }
  
  .me_img {
    opacity: 0;
    width : 100%; height: 62.5vw;
    margin : auto;
    background-image: url("../../../img/aboutme/aboutme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position : 50% 50%;
    margin-top : 1000px;
    transition: all 1000ms ease;
  }
  
  .me_img.act {
    opacity: 1;
    margin-top : 0;
    margin-bottom : 30px;
    margin-bottom : 1.875rem;
  }
  
  .name_area {
    width : 100%; height : auto;
    margin-bottom : 50px;
      margin-bottom : 3.125rem;
  }
  
  .name_area > .name_kr {
    float: left;
    width : 120px;  height: auto;
      width : 7.5rem;
    margin-bottom : 15px;
      margin-bottom : 0.9375rem;
    font-weight: 700;
    font-size: 40px;
      font-size: 2.5rem;
    color : #30588c;
      color : var(--color-main-blue);
  }
  
  .name_area > .name_en {
    float: left;
    padding-top : 10px;
      padding-top : 0.625rem;
    text-transform: uppercase;
    color : #575757;
      color : var(--color-deep-gray);
  }
  
  .name_area > .info_text {
    float: left;
    width: 100%;
    font-weight: 300;
    color : #575757;
      color : var(--color-deep-gray);
  }
  
  .other_info {
    font-weight: 300;
    color : #575757;
      color : var(--color-deep-gray);
  }
  
  .other_info > dd:nth-of-type(1),
  .other_info > dd:nth-of-type(3) {
    margin-bottom : 15px;
      margin-bottom : 0.9375rem;
  }
  
  
  
  
  
  /* .detail_info_area */
  .detail_info_area {
    width : 100%; height: auto;
  }
  
  .skills {
    width : 100%; height : auto;
    margin-bottom : 100px;
    margin-bottom : 6.25rem;
  }
  
  .skills > h3 {
    margin-bottom : 24px;
      margin-bottom : 1.5rem;
    font-size: 24px;
      font-size : 1.5rem;
    font-weight: 700;
    color : #30588c;
      color : var(--color-main-blue);
  }
  
  .skills > .skills_category {
    display: flex;
    justify-content: space-around;
    width : 80%; height : 40px;
    margin : auto;
    margin-bottom : 10px;
    padding : 5px;
    box-sizing: border-box;
    cursor: pointer;
      height : 2.5rem;
      margin-bottom : 0.625rem;
      padding : 0.3125rem;
  }
  
  .skills_category > li {
    width : 45%;  height: 100%;
    text-align: center;
    font-size: 18px;
      font-size : 1.125rem;
    line-height: 1.5;
    text-transform: uppercase;
    color : #575757;
      color : var(--color-deep-gray);
    transition: all 300ms linear;
  }
  
  .skills_category > li.act,
  .skills_category > li:hover,
  .skills_category > li:focus {
    border-bottom : 5px solid #30588c;
      border-bottom : var(--border-bottom);
    transform: scale(1.05, 1.05);
  }
  
  
  .skills_design, .skills_coding {
    width : 100%; height: auto;
    padding : 16px;
      padding : 1rem;
    box-sizing: border-box;
  }
  
  .skills_design li,
  .skills_coding li {
    float: left;
    width : 48%; height : 90px;
    margin-right : 2%;
    margin-bottom : 24px;
      margin-bottom : 1.5rem;
  }
  
  
  .skills dt {
    margin-bottom : 5px;
      margin-bottom : 0.3125rem;
    font-size: 14px;
      font-size : 0.875rem;
    color : #575757;
      color : var(--color-deep-gray);
  }
  
  .skills dd.narr {
    font-weight: 300;
    margin-bottom : 5px;
      margin-bottom : 0.3125rem;
    font-size: 14px;
      font-size : 0.875rem;
    color : #575757;
      color : var(--color-deep-gray);
  }
  
  .skills dd.skills_img {
    width : 130px;  height : 15px;
        width : 8.125rem; height : 0.9375rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
  
  .skills dd.skills_50 { background-image: url("../../../img/aboutme/skills/skills_50.svg");}
  .skills dd.skills_60 { background-image: url("../../../img/aboutme/skills/skills_60.svg");}
  .skills dd.skills_70 { background-image: url("../../../img/aboutme/skills/skills_70.svg");}
  .skills dd.skills_80 { background-image: url("../../../img/aboutme/skills/skills_80.svg");}
  .skills dd.skills_90 { background-image: url("../../../img/aboutme/skills/skills_90.svg");}
  
  .personality {
    width : 100%;
    height : auto;
  }
  
  .personality > h3 {
    margin-bottom : 30px;
      margin-bottom: 1.875rem;
    font-weight: 700;
    font-size: 24px;
      font-size : 1.5rem;
    color : #30588c;
      color : var(--color-main-blue);
  }
  
  .mbti_img {
    float: none;
    width : 100%; height: 150px;
      height: 46.875vw; max-height: 200px;
    margin : auto;
    background-image: url("../../../img/mbti.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position : 50% 50%;
  }
  
  .personality_word {
    float: none;
    width : 50%;  height: 150px;
      height: 9.375rem;
    margin-right: 0; 
    margin : auto;
    margin-top : 30px;
  }
  
  .personality_word dl {
    width : 100%; height: 100%;
  }
  
  .personality_word dd {
    display: inline-block;
    width : 60px; margin-bottom : 10px;
      width : 3.75rem; margin-bottom : 0.625rem;
  }
  
  .personality_word dd.em {
    font-weight: 700;
    color : #30588c;
      color : var(--color-main-blue);
  }
  
  
}