/* css/src/root.css */


:root {
  --color-white : #ffffff;
  --color-bg : #f2f2f2;
  --color-bright-gray : #eeeeee;
  --color-deep-gray : #575757;
  --color-scroll-blue : #8eafce;
  --color-main-blue : #30588c;
  --color-black : #000000;
  
  --shadow : 0.1875rem 0.1875rem 0.1875rem rgba(79,79,79,0.25);
  --border-bottom : 0.3125rem solid #30588c;
}