/* css/src/viewBox.css */




/* basic */
.video_area {
  width : 100%; height : 100%;
}

.video_area > video {
  width : 130%; height: 130%;
  margin-left : -15%;
}

#viewBox > p {
  position : absolute;
  right : 100px; bottom : 100px;
  font-size : 32px;
    font-size : 2rem;
  line-height: 1.25;
  text-align: right;
  font-weight: 700;
  color : #fff;
  text-shadow: 3px 3px 3px rgba(79,79,79,0.25);
    text-shadow: var(--shadow);
}

@keyframes scroll {
  0% {
    bottom : 100px;
  }
  100%{
    bottom : 50px;
  }
}
#viewBox > .scroll {
  position: absolute;
  bottom : 50px; left : 0; right : 0;
  width : 40px; height : 60px;
  margin : auto;
  animation: scroll 2s ease infinite;
}

#viewBox .cercel {
  position: relative;
  width : 100%; height: 100%;
  border : 3px solid #fff;
    border : 0.1875rem solid var(--color-white);
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #575757;
    box-shadow: var(--shadow);
}

#viewBox .line {
  position: absolute;
  top : 10px; left : 0; right : 0;
  width : 2px; height: 20%;
  margin : auto;
  background-color : #fff;
    background-color : var(--color-white);
  box-shadow: 3px 3px 3px #575757;
    box-shadow: var(--shadow);
}




@media screen and (min-width : 320px) and (max-width : 767px) {
  .video_area {
    width : 100%; height : 100%;
  }
  
  .video_area > video {
    width : 220%; height: 220%;
    margin-left : -60%;
  }
  
  #viewBox > p {
    position : absolute;
    right : 20px; top : 120px;
    font-size : 24px;
      font-size : 1.5rem;
    line-height: 1.25;
    text-align: right;
    font-weight: 700;
    color : #fff;
    text-shadow: 3px 3px 3px rgba(79,79,79,0.25);
      text-shadow: var(--shadow);
  }
  
  @keyframes scroll {
    0% {
      bottom : 100px;
    }
    100%{
      bottom : 50px;
    }
  }
  #viewBox > .scroll {
    position: absolute;
    bottom : 50px; left : 0; right : 0;
    width : 40px; height : 60px;
    margin : auto;
    animation: scroll 2s ease infinite;
  }
  
  #viewBox .cercel {
    position: relative;
    width : 100%; height: 100%;
    border : 3px solid #fff;
      border : 0.1875rem solid var(--color-white);
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px #575757;
      box-shadow: var(--shadow);
  }
  
  #viewBox .line {
    position: absolute;
    top : 10px; left : 0; right : 0;
    width : 2px; height: 20%;
    margin : auto;
    background-color : #fff;
      background-color : var(--color-white);
    box-shadow: 3px 3px 3px #575757;
      box-shadow: var(--shadow);
  }
}



@media screen and (min-width : 768px) and (max-width : 1279px) {
  .video_area {
    width : 100%; height : 100%;
  }
  
  .video_area > video {
    width : 220%; height: 220%;
    margin-left : -60%;
  }
  
  #viewBox > p {
    position : absolute;
    right : 40px; top : 220px;
    font-size : 32px;
      font-size : 2rem;
    line-height: 1.25;
    text-align: right;
    font-weight: 700;
    color : #fff;
    text-shadow: 3px 3px 3px rgba(79,79,79,0.25);
      text-shadow: var(--shadow);
  }
  
  @keyframes scroll {
    0% {
      bottom : 100px;
    }
    100%{
      bottom : 50px;
    }
  }
  #viewBox > .scroll {
    position: absolute;
    bottom : 50px; left : 0; right : 0;
    width : 40px; height : 60px;
    margin : auto;
    animation: scroll 2s ease infinite;
  }
  
  #viewBox .cercel {
    position: relative;
    width : 100%; height: 100%;
    border : 3px solid #fff;
      border : 0.1875rem solid var(--color-white);
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px #575757;
      box-shadow: var(--shadow);
  }
  
  #viewBox .line {
    position: absolute;
    top : 10px; left : 0; right : 0;
    width : 2px; height: 20%;
    margin : auto;
    background-color : #fff;
      background-color : var(--color-white);
    box-shadow: 3px 3px 3px #575757;
      box-shadow: var(--shadow);
  }
}



@media screen and (min-width : 1280px) and (max-width : 1599px) {
  .video_area {
    width : 100%; height : 100%;
  }
  
  .video_area > video {
    width : 130%; height: 130%;
    margin-left : -15%;
  }
  
  #viewBox > p {
    position : absolute;
    right : 100px; bottom : 100px;
    font-size : 32px;
      font-size : 2rem;
    line-height: 1.25;
    text-align: right;
    font-weight: 700;
    color : #fff;
    text-shadow: 3px 3px 3px rgba(79,79,79,0.25);
      text-shadow: var(--shadow);
  }
  
  @keyframes scroll {
    0% {
      bottom : 100px;
    }
    100%{
      bottom : 50px;
    }
  }
  #viewBox > .scroll {
    position: absolute;
    bottom : 50px; left : 0; right : 0;
    width : 40px; height : 60px;
    margin : auto;
    animation: scroll 2s ease infinite;
  }
  
  #viewBox .cercel {
    position: relative;
    width : 100%; height: 100%;
    border : 3px solid #fff;
      border : 0.1875rem solid var(--color-white);
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px #575757;
      box-shadow: var(--shadow);
  }
  
  #viewBox .line {
    position: absolute;
    top : 10px; left : 0; right : 0;
    width : 2px; height: 20%;
    margin : auto;
    background-color : #fff;
      background-color : var(--color-white);
    box-shadow: 3px 3px 3px #575757;
      box-shadow: var(--shadow);
  }
}



@media screen and (min-width : 1600px) and (max-width : 1919px) {
  .video_area {
    width : 100%; height : 100%;
  }
  
  .video_area > video {
    width : 120%; height: 120%;
    margin-left : -10%;
  }
  
  #viewBox > p {
    position : absolute;
    right : 200px; bottom : 150px;
    font-size : 32px;
      font-size : 2rem;
    line-height: 1.25;
    text-align: right;
    font-weight: 700;
    color : #fff;
    text-shadow: 3px 3px 3px rgba(79,79,79,0.25);
      text-shadow: var(--shadow);
  }
  
  @keyframes scroll {
    0% {
      bottom : 100px;
    }
    100%{
      bottom : 50px;
    }
  }
  #viewBox > .scroll {
    position: absolute;
    bottom : 50px; left : 0; right : 0;
    width : 40px; height : 60px;
    margin : auto;
    animation: scroll 2s ease infinite;
  }
  
  #viewBox .cercel {
    position: relative;
    width : 100%; height: 100%;
    border : 3px solid #fff;
      border : 0.1875rem solid var(--color-white);
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px #575757;
      box-shadow: var(--shadow);
  }
  
  #viewBox .line {
    position: absolute;
    top : 10px; left : 0; right : 0;
    width : 2px; height: 20%;
    margin : auto;
    background-color : #fff;
      background-color : var(--color-white);
    box-shadow: 3px 3px 3px #575757;
      box-shadow: var(--shadow);
  }
}



@media screen and (min-width : 1920px) {
  .video_area {
    width : 100%; height : 100%;
  }
  
  .video_area > video {
    width : 120%; height: 120%;
    margin-left : -10%;
  }
  
  #viewBox > p {
    position : absolute;
    right : 350px; bottom : 200px;
    font-size : 32px;
      font-size : 2rem;
    line-height: 1.25;
    text-align: right;
    font-weight: 700;
    color : #fff;
    text-shadow: 3px 3px 3px rgba(79,79,79,0.25);
      text-shadow: var(--shadow);
  }
  
  @keyframes scroll {
    0% {
      bottom : 100px;
    }
    100%{
      bottom : 50px;
    }
  }
  #viewBox > .scroll {
    position: absolute;
    bottom : 50px; left : 0; right : 0;
    width : 40px; height : 60px;
    margin : auto;
    animation: scroll 2s ease infinite;
  }
  
  #viewBox .cercel {
    position: relative;
    width : 100%; height: 100%;
    border : 3px solid #fff;
      border : 0.1875rem solid var(--color-white);
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px #575757;
      box-shadow: var(--shadow);
  }
  
  #viewBox .line {
    position: absolute;
    top : 10px; left : 0; right : 0;
    width : 2px; height: 20%;
    margin : auto;
    background-color : #fff;
      background-color : var(--color-white);
    box-shadow: 3px 3px 3px #575757;
      box-shadow: var(--shadow);
  }
}